
<body class="bg-light ">
  <h1 class="text-center text-danger p-3">Password Generator and generating password</h1>

  <div class="container">
    <div class="row">
    <div class="col-md-8">
      <h2>Why using password generator?</h2>
    </div>
    <div class="col-md-4 ">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Select the length of password:</label>
          <select (input)="onChangeLength($event.target.value)"  class="form-control">
            <option selected>Choose...</option>
            <option>8</option>
            <option>10</option>
            <option>12</option>
            <option>14</option>
            <option>16</option>
            <option>18</option>
            <option>20</option>
            <option>22</option>
            <option>24</option>
            <option>26</option>
            <option>28</option>
            <option>30</option>
            <option>32</option>
          </select>
          <small id="emailHelp" class="form-text text-muted">You can select the number of digits in this field.</small>
        </div>
        
        <div class="form-group form-check">
          <input class="form-check-input" (change)="onChangeUseLetters()" type="checkbox" >
          <label class="form-check-label">I want to use Letter in my password.</label>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" (change)="onChangeUseNumbers()" type="checkbox" >
          <label class="form-check-label">I want to use Number in my password.</label>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" (change)="onChangeUseSymbols()" type="checkbox" >
          <label class="form-check-label">I want to use Symbol in my password.</label>
        </div>
      </form>
     
      <div>
        <button class="btn btn-primary" [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))" (click)="onButtonClick()">Generate!</button>
      </div>
  <hr>
      <div *ngIf="password" class="p-3">
        <label >Your Password</label>
        <input class="form-control" [value]="password" />
      </div>
    </div>

    </div>
  </div>
</body>
